.form_style{
	background-color: #80b3ff;
	color: black;
	margin-top: 150px;
	width: 900px;
	height: 400px;
	font-size: 19px;
	padding-top: 30px;
}

/*#button{
	width: 300px;
	margin: 15px 0 0 250px;
	border-radius: 10px;
	font-weight: bold;
	font-size: 19px;
	background-color: black;
	color: #80b3ff;
}

#button:hover{
	background-color: #003380;
	color: white;
}*/

#success{
	background-color: #80b3ff;
	color: black;
	text-align: center;
	margin-top: 300px;
	height: 80px;
	padding-top: 20px;
}

#success h2{
	font-size: 40px;
}

#form_style{
	background-color: #80b3ff;
	color: black;
	margin-top: 150px;
	width: 900px;
	height: 820px;
	font-size: 19px;
	padding-top: 30px;
}


.form-group button[type=submit]{
	border: 0;
	height: 40px;
	width: 70%;
	outline: none;
	color: #fff;
	font-size: 16px;
	background-color: #0047b3;
	cursor: pointer;
	border-radius: 15px;  /*curves the edges*/
	margin-top: 25px;
	margin-left: 15%;
}

.form-group button[type=submit]:hover{
	font-size: 18px;
	color: black;
}

.error{
	color: #ff0000;
	font-size: 17px;
	font-weight: bold;
}

#header{
	margin-left: 25%;
	color: #3385ff;
}

.text{
	margin-top: 70px;
	/*padding-left: 10px;*/
	text-align: center;
	font-size: 50px;
	color: white;
}

.text2{
	padding-left: 25px;
}